name: 'dispatch-single-icu-all-php-intl'
on:
  workflow_dispatch:
    inputs:
      icu:
        description: ICU version
        required: true
      rebuild:
        description: rebuild
        required: false

jobs:
  php-intl:
    container: ubuntu:bionic
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: ['5.6', '7.0', '7.1', '7.2', '7.3', '7.4', '8.0', '8.1']
    name: php-intl
    steps:
      - name: ${{github.event.inputs.php}}
        id: print_details
        run: |
          echo sender=${{github.event.sender.login}}
          echo ICU=${{github.event.inputs.icu}}
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install requirements
        run: bash src/install-requirements.sh
        env:
          VERSION: ${{ matrix.php }}
      - name: Checkout
        uses: actions/checkout@v2
      - name: Update intl
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ICU: ${{ github.event.inputs.icu }}
          REPO: ${{ github.repository }}
          VERSION: ${{ matrix.php }}
          WORKSPACE: ${{ github.workspace }}
        run: |
          existing_version=$(gh release view intl 2>/dev/null | grep -Po "$VERSION-$ICU" | head -n 1)
          if [ "$VERSION-$ICU" != "$existing_version" ] || [ "x${{github.event.inputs.rebuild}}" = "xtrue" ]; then
            bash src/build-intl.sh
            bash src/release-intl.sh
          else
            echo "intl $VERSION-$ICU build exists"
          fi
